$flex-grande: 1 1 40rem;
$flex-medio: 1 1 30rem;
$flex-chico: 1 1 25rem;

$font-size-extra: 5.5rem;
$font-size-grande: 2.5rem;
$font-size-mediano: 2rem;
$font-size-medianito: 1.7rem;
$font-size-chico: 1.5rem;

$border: .1rem solid $rgba2;
$box-shadow: 0 .5rem 1rem $rgba1;